.contenedor{
    width: 100%;
    height: 100%;
    background: #fff;
    position: relative;
}
.header{
    width: 100%;
}
.top-nav{
    width: 100%;
    padding: 0 10px;
    height: 24px;
    background: #000;
    color: #FFF;
}
.nav-1{
    background-color: #fff;
    color: #000;

    border: 1px solid #d4d4d4;
    padding: 0 10px;

    width: 100%;
    height: 60px;

    display: grid;
    grid-template-columns: repeat(24,1fr);
    align-items: center;
    overflow: hidden;
}
.logo{
    height: 60px;
    grid-column: 1/4;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.img-logo{
    width: auto;
}
.logo__p{
    color: #4A5568;
    font-size: 42px;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.logo__a:hover{    
    text-decoration: none;
}
.busqueda-nav{
    width: 100%;
    height: 55px;
    grid-column: 5/10;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.busqueda-nav__i{
    color: #034155;
    font-size: 14px;
}
.busqueda-nav__input{
	font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-size: large;
    border: 1px solid #909090;

    width: 85%;
    height: 36px;
}
.eslogan{
    height: 55px;
    width: 100%;
    grid-column: 10/17;

    display: flex;
    justify-content: center;
    align-items: center;
}
.eslogan__p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 17px;
}
.login{    
    grid-column: 18/22;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carro{
    grid-column: 22/25;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-1__a{    
    color: #4A5568;
    text-decoration: none;
    font-size: 22px;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: right;
}
.nav-1__i{
    font-size: 34px;
    color: #4A5568;
}
.nav-2 {
    background: #EB0008;
    color: #000;
    border: 1px solid #AF373B;
    overflow: hidden;
    
    width: 100%;
    height: 52px;
}
.nav-2__ul{
    height: 50px;
    list-style: none;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px;
    margin-left: -40px;
}
.nav-2__ul__li{
    float: left;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.nav-2__ul__li__a{
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px 0;
    color: #000;
    text-decoration: none;
    font-size: 22px;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;   
    text-decoration: none; 
}
.nav-2__ul__li__ul{
    display: none;
    list-style: none;
    background: #fff;
    position: absolute;
    min-width: 220px;
    border: 1px solid #909090;
    border-radius: 2%;
    padding: 20px 0;
    margin: 0;
    margin-top: 12px;
    text-decoration: none;
}
.nav-2__ul__li__ul__li__a{
    padding: 9px 20px;
    color: #4A5568;
    display: block;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}
.nav-2__ul__li:hover > ul{    
    display: block;
    z-index: 2;
}
.nav-2__ul__li__a:hover{
    color: black;
    text-decoration: none;
}
.nav-2__ul__li__ul__li:hover{
    background: #cecece;
    color: #FFF;
}
.nav-2__ul__li__ul__li__a:hover{
    color: black;
    text-decoration: none;
}
.footer{
    display: block;
    bottom: 0px;
    margin: 0px;
    padding: 0px;
    height: 47px;
    width: 100%;
    background: #FFF;
}