body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}
nav{
    background: #29794f;
}
nav ul{
    padding: 0;
    margin: 0;
}
nav ul li{
    display: inline-block;
    padding: 10px;
}
nav ul li a{
    display: inline;
    color: white;
    padding: 10px;
    text-decoration: none;
}
.carrito{
    float: right;
}
.carrito-active{
    background: white;
}
.carrito-active a{
    color: black;
}
main{
    align-items: center;
    margin: 0 auto;
    margin-left: 400px;
    margin-top: 220px;
    width: 900px;
}
.articulo{
    display: inline-block;
    margin: 10px;
    vertical-align: top;
    text-align: center;
    width: 250px;
}
.articulo div{
    padding: 5px 0;
}
.articulo .producto-imagen img{
    height: 300px;    
    width: 250px;
    object-fit: cover;
}
.articulo .producto-titulo{
    font-weight: bold;
    font-size: 18px;
}
button{
    border: 0;
    border-radius: 5px;
    background: #29794f;
    color: white;
    cursor: pointer;
    padding: 10px;
}

#carrito-container{
    width: 400px;
    background: white;
    border: solid 1px #000;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    margin-top: 10px;
    display: none;
}

#tabla .fila{
    box-sizing: border-box;
    padding: 10px 0;
}

#tabla .fila .imagen{
    display: inline-block;
    width: 100px;
}
#tabla .fila
 .info{
    box-sizing: border-box;
    font-size: 14px;
    display: inline-block;
    padding-left: 20px;
    vertical-align: top;
    width: 273px;
}

#tabla .fila .info .nombre{
    font-size: 20px;
    font-weight: bold;
}
#tabla .fila .info .producto-botones{
    padding: 20px 0 0 0;
}

#tabla p{
    font-size: 24px !important;
    text-align: center;
    font-weight: bold;
}

#paginas ul{
    margin: 10px 0;
    padding: 0;
}
#paginas li{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

#paginas li a{
    background: rgb(228, 228, 228);
    border-radius: 3px;
    color: rgb(50, 50, 50);
    padding: 10px 15px;
    text-decoration: none;
}

.actual{
    background: rgb(20, 69, 124) !important;
    color: rgb(255, 255, 255) !important;
}